

        <form #form="ngForm" (ngSubmit)="upload($event)">
          <div class="form-group">
            <label class="label" for="input-title">Popis:</label>
            <input nbInput
                   fullWidth
                   ngModel
                   [(ngModel)]="photo.title"
                   name="title"
                   id="input-title"
                   placeholder="Popisu obrázku"
                   autofocus>
          </div>
          <div class="form-group">
            <label class="label" for="input-files">Vyberte obrázky, které chcete nahrát:</label>
            <input type="file"
                   nbInput
                   multiple
                   id="input-files"
                   name="files"
                   accept="image/*"
                   (change)="filesSelected($event)">
          </div>
<!--          <div class="form-group">-->
<!--            <label for="input-description">-->
<!--              <textarea-->
<!--                fullWidth-->
<!--                id="input-description"-->
<!--                [(ngModel)]="photo.description"-->
<!--              ></textarea>-->
<!--            </label>-->
<!--          </div>-->

          <button class="uploadButton" nbButton fullWidth status="success" [disabled]="!form.valid">
            Nahrát
          </button>

        </form>


        <br><br> Original: Size: {{sizeOfOriginalImage | number : '1.2-2'}}MB
        <br><img [src]="localUrl" height="200px">
        <br><br><br> Compressed: Size: {{sizeOFCompressedImage | number : '1.2-2'}}MB<br>
        <img [src]="localCompressedURl" height="150px">

