.image-showcase {
  width: 100%;
}
.photo-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.header-icon {
  margin: 0 7px;
  font-size: 1.6rem !important;
  transition: all .5s fade;
}
