<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-header>
        Uživatelské informace
      </nb-card-header>
      <nb-card-body>
        <form #form="ngForm" aria-labelledby="title">
          <div class="form-group">
            <label for="name">Jméno: </label>
            <input
              type="text"
              name="change-name"
              id="name"
              [(ngModel)]=user.name
              [disabled]="!changeUserInfo"
              nbInput
              fullWidth>
          </div>
          <div class="form-group">
            <label for="email">Email: </label>
            <input
              type="email"
              name="change-email"
              id="email"
              pattern="/^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/"
              [(ngModel)]=user.email
              [disabled]="!changeUserInfo"
              #email = "ngModel"
              nbInput
              fullWidth>
          </div>
          <div class="form-group">
            <label for="username">Uživatelské jméno: </label>
            <input
              type="text"
              name="change-username"
              id="username"
              [(ngModel)]=user.username
              [disabled]="!changeUserInfo"
              nbInput
              fullWidth>
          </div>
          <button nbButton
                  fullWidth
                  status="primary"
                  (click)="changeUserInfo = !changeUserInfo"
                  [hidden]="changeUserInfo">
            Změnit
          </button>
          <div class="actionButtons" [hidden]="!changeUserInfo">
              <button nbButton
                      fullWidth
                      status="success"
                      (click)="submitChanges(user, form)">Odeslat</button>
            </div>
            <div class="col-md-6">
              <button nbButton
                      (click)="changeUserInfo = !changeUserInfo"
                      status="danger">Zrušit</button>
            </div>
        </form>
      </nb-card-body>
    </nb-card>
  </div>
</div>
