<nb-card>
  <nb-card-body>
    <nb-tabset fullWidth>
      <nb-tab tabTitle="Fotky">
        <div class="row">
          <div class="col-md-12">
            Přidat příspěvek
            <ngx-add-photo [subject]="subject"></ngx-add-photo>
          </div>
        </div>
      </nb-tab>
      <nb-tab tabTitle="Videa">
        <div class="row">
          <div class="col-md-12">
                Přidat příspěvek
                <form #form="ngForm">
                  <div class="form-group">
                    <label class="label" for="input-title">Nadpis:</label>
                    <input nbInput
                           fullWidth
                           name="title"
                           id="input-title"
                           placeholder="Nadpis příspěvku"
                           required
                           [(ngModel)] = "video.title"
                           autocomplete="off">
                  </div>

                  <div class="form-group">
                    <label for="input-link" class="label">Odkaz na video</label>
                    <input nbInput
                           fullWidth
                           type="url"
                           id="input-link"
                           name="input-link"
                           [(ngModel)] = "video.url"
                           autocomplete="off"
                           required
                           placeholder="URL adresa">
                  </div>
<!--                  <div class="form-group">-->
<!--                    <nb-checkbox (checkedChange)="videoThumbnail = !videoThumbnail">Náhledový obrázek</nb-checkbox>-->
<!--                  </div>-->
                  <div class="form-group" >
                    <label for="input-thumbnail" class="label">Náhledový obrázek videa</label><br>
                    <input type="file"
                           nbInput
                           id="input-thumbnail"
                           name="files"
                           accept="image/*"
                           (change)="filesSelected($event)">
                  </div>
<!--                  <div class="form-group">-->
<!--                    <label for="input-text" class="label" >Popis:</label>-->
<!--                    <textarea rows="5" nbInput fullWidth placeholder="Obsah příspěvku" id="input-text" #textarea></textarea>-->
<!--                  </div>-->
                  <button class="uploadButton" nbButton fullWidth status="success" [disabled]="!form.valid" (click)="upload()" [nbSpinner]="fetchingData">
                    Nahrát
                  </button>
                </form>
          </div>
        </div>

      </nb-tab>
    </nb-tabset>
  </nb-card-body>
</nb-card>
<!--<div class="infinite-cards row">-->
<h2>Fotky</h2>
<ngx-image-card [subject]="subject"></ngx-image-card>
<h2>Videa</h2>
<ngx-video-card [subject]="subject"></ngx-video-card>
<!--</div>-->
