<div class="row">
  <div class="col-md-12">
    <form #form="ngForm">
      <div class="form-group">
        <label class="label" for="input-title">Nadpis:</label>
        <input nbInput
               fullWidth
               name="title"
               id="input-title"
               placeholder="Nadpis příspěvku"
               required
               [(ngModel)] = "post.title"
               autocomplete="off">
      </div>

      <div class="form-group">
        <label for="input-link" class="label">Odkaz na příspěvek</label>
        <input nbInput
               fullWidth
               type="url"
               id="input-link"
               name="input-link"
               [(ngModel)] = "post.url"
               autocomplete="off"
               pattern="https?://.+"
               required
               placeholder="URL adresa">
      </div>
      <div class="form-group" >
        <label for="input-thumbnail" class="label">Náhledový obrázek videa</label><br>
        <input type="file"
               nbInput
               id="input-thumbnail"
               name="files"
               accept="image/*"
               required
               (change)="fileSelected($event)">
      </div>
      <div class="form-group">
        <nb-select placeholder="Vyberte ročník" [(selected)]="classYear">
          <nb-option value="0">1. ročník</nb-option>
          <nb-option value="1">2. ročník</nb-option>
          <nb-option value="2">3. ročník</nb-option>
          <nb-option value="3">4. ročník</nb-option>
        </nb-select>
      </div>
      <button class="uploadButton" nbButton fullWidth status="success" [disabled]="disabledSubmit() || !form.valid" (click)="upload()" [nbSpinner]="compressingImages">
        Nahrát
      </button>
    </form>
  </div>
</div>
