<nb-card class="dialog-card">
    <nb-card-header>
      Upravit příspěvek: {{article.title}}
    </nb-card-header>
    <nb-card-body>
      <form #updateForm="ngForm">
        <div class="form-group">
          <label class="label" for="edit-title">Nadpis:</label>
          <input nbInput
                 fullWidth
                 ngModel
                 name="edit-title"
                 id="edit-title"
                 placeholder="Nadpis příspěvku"
                 [(ngModel)] = "newArticle.title"
                 autofocus
                 autocomplete="off"
                 (keyup)="onKeyUp()">
        </div>
        <div class="form-group" *ngIf="article.url">
          <label class="label" for="edit-url">Odkaz na příspěvek:</label>
          <input nbInput
                 fullWidth
                 ngModel
                 name="edit-url"
                 id="edit-url"
                 placeholder="Odkaz na příspěvek"
                 [(ngModel)] = "newArticle.url"
                 autocomplete="off"
                 (keyup)="onKeyUp()">
        </div>
      </form>

    </nb-card-body>
    <nb-card-footer>
      <div class="d-flex justify-content-around">
        <button class="uploadButton" nbButton (click)="edit()" [disabled]="!updateForm.valid || !articleWasUpdated" [nbSpinner]="fetchingData" fullWidth>
          Upravit
        </button>
        <button (click)="dialogRef.close()" nbButton status="danger" [disabled]="!updateForm.valid" fullWidth>
          Zavřít
        </button>
      </div>
    </nb-card-footer>
</nb-card>
