.login-button {
  margin-bottom: 10px;
}


.buttons {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

::ng-deep .back-link,
::ng-deep nb-card-header {
  display: none !important;
}
