img {
  max-width: 100%;
  z-index: 100;
  transform: scale(1.1, 1.1);
  transition: all .5s;
  filter: grayscale(100%);
}

a:hover img {
  transform: scale(1, 1);
  filter: grayscale(0%);
}

nb-icon {
  cursor: pointer
}

nb-icon.open {
  z-index: 1000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  cursor: pointer
}

.overlay {
  z-index: 1000;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.29);
  cursor: pointer;
}

.icons nb-icon {
  margin: 0 7px;
  font-size: 1.6rem !important;
  transition: all .5s fade;
  cursor: pointer;
}


nb-card-header {
  padding: 0;
  overflow: hidden;
  position: relative;
}

nb-card {
  transition: box-shadow, transform .5s;
}

nb-card:hover {
    box-shadow: 0 14px 25px rgba(0,0,0,.16);
    transform: scale(1.01, 1.01);
}
