  <div class="w-75 m-auto m-2 d-block h-25">
    <a routerLink="/pages/subjects/web">
      <nb-card>
        <nb-card-body>
          <div class="d-flex justify-content-between">
            <div class="d-flex align-items-center ">
              <nb-icon pack="eva" icon="browser-outline" status="primary" style="margin-right: 10px" class="align-self-center"></nb-icon>
              <h4 class="align-self-center">Webové stránky</h4>
            </div>
            <nb-icon pack="eva" icon="arrow-circle-right-outline" status="primary" class="d-inline-flex align-self-center"></nb-icon>
          </div>
        </nb-card-body>
      </nb-card>
    </a>
  </div>
  <div class="w-75 m-auto m-2 d-block h-25">
    <a routerLink="/pages/subjects/mme">
      <nb-card>
        <nb-card-body>
          <div class="d-flex justify-content-between">
            <div class="d-flex align-items-center ">
              <nb-icon pack="eva" icon="camera-outline" status="success" style="margin-right: 10px" class="align-self-center"></nb-icon>
              <h4 class="align-self-center">Multimédia</h4>
            </div>
            <nb-icon pack="eva" icon="arrow-circle-right-outline" status="success" class="d-inline-flex align-self-center"></nb-icon>
          </div>
        </nb-card-body>
      </nb-card>
    </a>
  </div>
  <div class="w-75 m-auto m-2 d-block h-25">
    <a routerLink="/pages/subjects/drawings">
      <nb-card>
        <nb-card-body>
          <div class="d-flex justify-content-between">
            <div class="d-flex align-items-center ">
              <nb-icon pack="eva" icon="edit-2-outline" status="warning" style="margin-right: 10px" class="align-self-center"></nb-icon>
              <h4 class="align-self-center">Technické výkresy</h4>
            </div>
            <nb-icon pack="eva" icon="arrow-circle-right-outline" status="warning" class="d-inline-flex align-self-center"></nb-icon>
          </div>
        </nb-card-body>
      </nb-card>
    </a>
  </div>
  <div class="w-75 m-auto m-2 d-block h-25" *ngIf="userService.getUser().role === 'admin'">
    <a routerLink="/pages/users/">
      <nb-card>
        <nb-card-body>
          <div class="d-flex justify-content-between">
            <div class="d-flex align-items-center ">
              <nb-icon pack="eva" icon="person-outline" status="info" style="margin-right: 10px" class="align-self-center"></nb-icon>
              <h4 class="align-self-center">Autorizování uživatelů</h4>
            </div>
            <nb-icon pack="eva" icon="arrow-circle-right-outline" status="info" class="d-inline-flex align-self-center"></nb-icon>
          </div>
        </nb-card-body>
      </nb-card>
    </a>
  </div>
